.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    height: 450px;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-bodys {
    padding: 0px;
    margin-left: 1rem;
    width: 242px;
  }
  
  .card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: justify;
    margin-top: 4%;
  }
  
  .sponsored {
    font-size: 12px;
    color: #666;
    text-align: left;
  }
  
  p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    margin: 20px 0 30px;
}
.rowDesign {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: calc(-.5* var(--bs-gutter-x));
  margin-left: calc(-.5* var(--bs-gutter-x));
}
.description{
  text-align: start;
}
.center-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

.product-form {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row; /* Change to row to align items horizontally */
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  gap: 20px; /* Increased space between fields */
  padding: 20px; /* Added padding to the form container */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  margin-top: 30px;
}